.jumbotron {
    background-color: royalblue!important
}
.center {
    text-align: center;
}
thead {
    background-color: limegreen!important;
}
.table-header {
    background-color: indianred;
    line-height: 300%;
    font-weight: bold;
}
.modal {
    display: none; 
    position: relative; 
    z-index: 1; 
    margin: auto;
    left: 25;
    top: 25; 
    width: 40%; 
    height: 18%; 
    background-color: grey 25%;
}
.modal-content {
    margin: 0; 
    padding: 30px 0;
    font-size: 11pt;
    font-weight: bold;
    background-color: royalblue;
    text-align: center;
    border: 1px solid #888;
    width: 60%; 
}
.close {
    color: blue;
    text-align: center;
    float: right;
    font-size: 11pt;
    font-weight: bold;
}
.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}
.close2 {
    color: blue;
    text-align: center;
    float: right;
    font-size: 11pt;
    font-weight: bold;
}
.close2:hover,
.close2:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}